body,
html {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

#root {
  display: grid;
  padding: 32px 128px;
  min-height: 100%;
  place-items: center;
  grid-template-rows: 1fr auto auto;
}

svg {
  display: block;
}

.squircle {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    323deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 256px;
  height: 256px;
}

.app-icon {
  padding: 16px;
  background: white;
  /* background: #242424; */
}

.apps {
  display: grid;
  padding: 16px;
  grid-column-gap: 20px;
  grid-auto-flow: column;
  background: rgba(0, 0, 45, 0.05);
}
