body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    323deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

#root {
  display: grid;
  padding: 32px 128px;
  min-height: calc(100vh - 64px);
  place-content: center;
}

path {
  fill: white;
}
